.App {
  text-align: center;
  color: #61dafb;
}

.success {
  background-color: green;
}

.warning {
  background-color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* /////////////////////////////////// */

a {
  margin: 20px;
  background-color: yellow;
}

/* for game1 */
body,
#root,
.App {
  overflow: hidden;
  height: 100dvh;
}
.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.score-board {
  font-size: 2rem;
  font-weight: 600;
  color: gray;
}
.box-container {
  /* position: absolute;
  bottom: 0; */
  /* display: flex;
  align-items: center;
  justify-content: center; */
  width: 100%;

  .box {
    display: inline-block;
    width: 18vmax;
    height: 18vmax;
    border-radius: 50%;
    /* scale: 0; */
    /* transform: translateY(100px); */
    background-color: rgb(173, 216, 230, 0.5);
    color: black;
    /* height: 18vmax; */
    line-height: 18vmax;
    margin: 2vmax;
    cursor: pointer;
    transition: 0.5s;
    &.active {
      background-color: blueviolet;

      scale: 1;
      /* transform: translateY(0px); */
    }
  }
}
